<div style="text-align: center">
    <p style="margin: 30px 0">Try With Our Cost Calculator App</p>
    <span>
      <a
        href="https://play.google.com/store/apps/details?id=com.redbytes.projectcostcalculator&hl=en&gl=US"
      >
        <img
          src="http://cdn.mcauto-images-production.sendgrid.net/975370a36813dc8d/653dbb03-fb0f-4e75-a95a-c149526d95bb/5436x1604.png"
          style="height: 60px; width: 200px"
        />
      </a>
    </span>
    <span>
      <a href="https://apps.apple.com/gb/app/cost-calculator/id1482880672">
        <img
          src="http://cdn.mcauto-images-production.sendgrid.net/975370a36813dc8d/4f466f9c-90d6-4259-87df-ddf9a8bb2872/1990x590.png"
          style="height: 60px; width: 200px"
        />
      </a>
    </span>

    <p style="text-align: center; margin: 30px 0">
      We hope this estimate is to your satisfaction and offers a
      comprehensive picture. For any further queries, we would be happy to
      respond at
    </p>
  </div>

  <div style="text-align: center; margin-top: 20px;">
    <table style="width: 100%">
      <tr>
        <td style="" valign="bottom">
          <img
            src="https://costcalculator.redbytes.in/www_logo.svg"
            style="margin-bottom: -9px;"
          />
          <span style="margin-left: 5px;">www.cloudxperte.com</span>
        </td>

        <td>
          <img
          src="http://cdn.mcauto-images-production.sendgrid.net/975370a36813dc8d/35e3a74f-0faa-4ecb-a54c-7ac71aec0e62/30x30.png"
          style="margin-bottom: -9px;"
        />
          <span style="margin-left: 5px;">+91 81138 62000</span>
        </td>

        <td>
          <img
          src="https://costcalculator.redbytes.in/calling.svg"
          style="margin-bottom: -9px;"
        />
        <span style="margin-left: 5px;">+1 92955 21900</span>
        </td>
      </tr>
    </table>
  </div>

  <div>
    <h2
      style="
        text-align: center;
        margin-top: 50px;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
      "
    >
      More About App Development
    </h2>
  </div>

  <div
    style="
      box-sizing: border-box;
      box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);
      width: 100%;
    "
  >
    <div width="100%" style="display: flex; justify-content: center;">
      <div
        style="
          width: 40%;
          text-align: center;
          border: 1px solid #eeeeee;
          padding: 20px 0;
        "
      >
        <img
          src="https://costcalculator.redbytes.in/big_doller.svg"
          style="margin-top: 10px; width: 26px"
        />
        <div style="font-size: 14px; font-weight: 700; margin-top: 10px">
          How Much
        </div>
      </div>

      <div
        style="
          width: 40%;
          text-align: center;
          border: 1px solid #eeeeee;
          padding: 20px 0;
        "
      >
        <img
          src="https://costcalculator.redbytes.in/setting.svg"
          style="margin-top: 10px; width: 48px"
        />
        <div style="font-size: 14px; font-weight: 700; margin-top: 10px">
          How To
        </div>
      </div>
    </div>
  </div>

  <div style="margin-top: 50px">
    <h2 style="color: #491C61; margin-top: 30px; margin-bottom: 0">
      DISCLAIMER
    </h2>
    <p style="margin-top: 10px">
      We have formulated this model based on Intelligent and Predictive
      analytics and is honed by years of industry experience. We can assure
      you that, based on your present preference, this estimate will be
      about 70-80 % accurate
    </p>
    <span style="color: #491C61"
      >Note: This email is generated from App Cost Calculator page -
      CloudXperte
    </span>
  </div>

  <div style="margin-top: 20px" width="100%">
    <div style="float: left; width: 50%">
      <img
        src="https://costcalculator.redbytes.in/bottom_header.png"
        alt="Creating Email Magic"
        height="75"
      />
    </div>
    <div style="float: right; width: 50%; text-align: right">
      <div width="100%">
        <div
          class="cx-atext"
          style="
            text-align: right;
            margin-right: 5px;
            float: left;
            width: 90%;
          "
        >
          <p style="margin: 0">15, Software Technology Park of India,</p>
          <p style="margin: 0">Chikalthana MIDC,</p>
          <p style="margin: 0">Aurangabad, Maharashtra. 431210</p>
        </div>

        
        <div width="10%" style="float: right">
          <img
            src="https://costcalculator.redbytes.in/location_icon.svg"
            style="padding-top: 15px"
          />
        </div>


      </div>
    </div>
  </div>

  <div style="border-bottom: 2px solid #eeeeee; margin-top: 40px; clear: both;"></div>
</div>
</body>
</html>